<template name="companiesForm">
<form id="companiesForm" class="ui form">
    <div class="ui grid">
        <div class="ten wide column">
            <div class="ui small input field">
                <input type="text" size="25" id="title" name="title" placeholder="Titulo"/>
            </div>
        </div>
        <div class="six wide column" >
            <input type="submit" value="Guardar" class="ui primary small labeled button" data-title="Agrega una empresa">
        </div>
    </div>
</form>
</template>
