<template name="login">
  <form id="login-form" class="ui form" novalidate>
    <div class="ui error message left aligned"></div>

    <div class="field">
      <input id="email" type="text" name="email" placeholder="Email" required="" autofocus="">
    </div>
    <div class="field">
      <input id="password" type="password" name="password" placeholder="Contraseña" required="">
    </div>
    <div class="ui two column stackable grid">
      <div class="column left aligned">
        <div class="ui checkbox">
          <input type="checkbox">
          <label class="uk-float-left">Recordarme</label>
        </div>
      </div>

      <div class="column right aligned">
        <button class="ui button" type="submit">
          Entrar
          <i class="batch" data-icon="&#xF000;"></i>
        </button>

      </div>
    </div>
  <div class="ui divider"></div>
    <div class="ui one column grid">
      <div class="column">
        <a class="ui submit button" href="/register">Registrarse</a>
      </div>
    </div>
  </form>
</template>
