<template name="register">
    <form id="register-form" action="action" class="uk-panel uk-panel-box uk-form">
        <div class="uk-form-row">
            <input type="email" id="account-email" placeholder="Email" class="uk-width-1-1 uk-form-large" />
        </div>
        <div class="uk-form-row">
            <input type="password" id="account-password" placeholder="Contraseña" class="uk-width-1-1 uk-form-large" />
        </div>
        <div class="uk-form-row">
            <button type="submit" id="create-account" class="uk-width-1-1 uk-button uk-button-primary uk-button-large">
              Registrarse
            </button>
        </div>
        <div class="uk-form-row uk-text-small">
            <a class="uk-float-right uk-link uk-link-muted" href="/login">Iniciar Sesión</a>
        </div>
    </form>
</template>
