<template name="clients">

  <div class="ui stackable grid">
    <div class="four wide column">

    </div>
    <div class="ten wide column">
      <div class="ui blue segment">
        <div class="ui stackable grid">
          <div class="eight wide column">
            {{> clienteForm crear=true}}
          </div>
          <div class="eight wide column">
            <h2 class="ui right floated header">Empresas</h2>
          </div>
        </div>
        <div class="ui clearing divider"></div>

        <table class="ui celled striped table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Empresa</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {{#each clients}}
            <tr>
              <td>{{name}}</td>
              {{#with joinWithCompany}}
              <td>{{company}}</td>
              {{/with}}
              <td>
                <a href="#" class="btn default btn-xs red delete">
                  <i class="icon-close"></i>
                  Eliminar
                </a>
                <a href="#" class="btn default btn-xs green edit">
                  <i class="icon-pencil"></i>
                  Editar
                </a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div id="confirmaEliminarCliente" class="ui basic modal">
    <div class="header">
      Eliminar Empresa
    </div>
    <div class="content">
      <div class="image">
        <i class="archive icon"></i>
      </div>
      <div class="description">
        <p>Esta seguro de querer eliminar el cliente <b>{{clienteSeleccionado.name}}?</b>
        </p>
      </div>
    </div>
    <div class="actions">
      <div class="two fluid ui inverted buttons">
        <div class="ui red basic inverted button negative">
          <i class="remove icon"></i>
          No
        </div>
        <div class="ui green basic inverted button positive">
          <i class="checkmark icon"></i>
          Si, estoy seguro
        </div>
      </div>
    </div>
  </div>

  <div id="editarCliente" class="ui modal">
    <div class="header">
      Editar Cliente
    </div>

    {{> clienteForm editar=true}}

  </div>

</template>
